<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/links.ejs') %>
    <title>Home</title>
  </head>

  <body>
    <%- include('./partials/navbar.ejs') %>
    
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
